@{

   
}

<div class="col-xl-12">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title text-center">Central de dimensionamento de equipamentos para piscina</h4>
            <p class="card-title-desc text-center">
                Inicialmente o sistema está sendo projetado para dimensionamento de filtros e motobomba para piscina, inserindo apenas alguns dados vc tem instântaneamente o resultado de modelo do filtro e motobomba, tempo de filtração necessário, vazão nominal, quantidade de ralos e muito mais.
            </p>

            <div class="">
                <img src="https://app-dimensiona.s3.sa-east-1.amazonaws.com/marketing/home-dimensiona.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</div>